<section class="about" id="block-1">
	<div class="swiper-container container about__container">
		<div class="swiper-wrapper about__wrapper">
			<div class="swiper-slide about__slide">
				<div class="about__content">
					<h2 class="h2 about__h2">
						WHAT WE DO?
					</h2>
					<div class="about__text">
						<p>
							Kalagra Group grows, distributes and harvests a sustainable bioenergy crop known as “Miscanthus x Giganteus”, the biomass of which is then used as a feedstock to produce biofuel pellets or cubes. 
						</p>
						<br>
						<p>
							Whilst most biomass pellets are derived from trees and forest operations recent studies have proven that, given demand, this source of biofuel is unsustainable in the medium and long-term perspective, trees simply don’t grow quickly enough and therefore cannot be relied on as a long-term solution.
						</p>
					</div>
					<div class="about__nav">
						<!-- <div class="about__link about__link--prev">
							Back
						</div> -->
						<div class="about__link about__link--next">
							Next
						</div>
						<div class="about__counter">
							1
							<span class="about__separator">
								/
							</span>
							3
						</div>
					</div>
				</div>
				<div class="about__thumb">
					<img src="img/slide-image.jpg" alt="Картинка слайда">
				</div>
			</div>
			<div class="swiper-slide about__slide">
				<div class="about__content">
					<h2 class="h2 about__h2">
						WHAT WE DO?
					</h2>
					<div class="about__text">
						<p>
							Kalagra group grows, distributes and harvests a bioenergy crop known as “Miscanthus x Giganteus”, biomass of which is then used as a feedstock to produce biofuel pellets or cubes. 
						</p>
						<br>
						<p>
							Whilst most biomass pellets are derived from trees and forest operations recent studies have proven that, given demand, this source of biofuel is unsustainable in the medium and long- term, trees simply don’t grow quickly enough and therefore cannot be relied on as a long-term solution.
						</p>
					</div>
					<div class="about__nav">
						<div class="about__link about__link--prev">
							Back
						</div>
						<div class="about__link about__link--next">
							Next
						</div>
						<div class="about__counter">
							2
							<span class="about__separator">
								/
							</span>
							3
						</div>
					</div>
				</div>
				<div class="about__thumb">
					<img src="img/slide-image.jpg" alt="Картинка слайда">
				</div>
			</div>
			<div class="swiper-slide about__slide">
				<div class="about__content">
					<h2 class="h2 about__h2">
						WHAT WE DO?
					</h2>
					<div class="about__text">
						<p>
							Kalagra group grows, distributes and harvests a bioenergy crop known as “Miscanthus x Giganteus”, biomass of which is then used as a feedstock to produce biofuel pellets or cubes. 
						</p>
						<br>
						<p>
							Whilst most biomass pellets are derived from trees and forest operations recent studies have proven that, given demand, this source of biofuel is unsustainable in the medium and long- term, trees simply don’t grow quickly enough and therefore cannot be relied on as a long-term solution.
						</p>
					</div>
					<div class="about__nav">
						<div class="about__link about__link--prev">
							Back
						</div>
						<!-- <div class="about__link about__link--next">
							Next
						</div> -->
						<div class="about__counter">
							3
							<span class="about__separator">
								/
							</span>
							3
						</div>
					</div>
				</div>
				<div class="about__thumb">
					<img src="img/slide-image.jpg" alt="Картинка слайда">
				</div>
			</div>
		</div>
	</div>
</section>