<section class="contacts" id="block-6">
	<div class="wrapper contacts__wrapper">
		<div class="contacts__contact contact">
			<h2 class="h2 contact__h2">
				our Contacts
			</h2>
			<p>
				<span>E:</span> <a href="mailto:info@kalagra.com">info@kalagra.com</a>
			</p>
			<br>
			<br>
			<p>
				<span>M:</span> <a href="tel:+79097901114">+7 909-790-1114</a>
			</p>
			<br>
			<br>
			<p>
				<span>A:</span> 236017, 21 Pravaya Naberezhnaya Str., floor 4, office 1, Kaliningrad, Russia
			</p>
		</div>
		<form action="" class="contacts__form form">
			<h2 class="h2 form__h2">
				get in touch
			</h2>
			<input type="text" placeholder="Name">
			<input type="text" placeholder="E-mail">
			<textarea placeholder="Message"></textarea>
			<div class="form__nav">
				<input type="submit" value="Submit">
				<p class="form__result">
					Your message has been sent successfully.
				</p>
			</div>
		</form>
	</div>
</section>