<section class="content content--top" id="block-4">
	<div class="wrapper" >
		<div class="container">
			<h2 class="h2 content__h2">
				About Kalagra Group
			</h2>
			<div class="content__block">
				<div class="content__column">
					<p>
						The Kalagra Group of companies is set of a number of corporate entities engaged in different elements of the business while commonly controlled by OOO Kalagra. Driven by its wish to contribute to the global shift from fossil fuels to clean energy and combining the UK’s expertise, knowledge and technology and advantages of geographical, weather and economic conditions of the Kaliningrad region, the Kalagra Group committed itself to the growing and production of environmentally sustainable fuel which can be successfully used on the local market as well as exported abroad. 
					</p>
					<br>
				</div>
				<div class="content__column">
					<img src="img/ill-1.jpg" alt="Иллюстрация 1">
				</div>
			</div>
			<div class="content__block">
				<div class="content__column">
					<img src="img/ill-2.jpg" alt="Иллюстрация 2" style="float: right;">
					<img src="img/ill-3.jpg" alt="Иллюстрация 3"  style="float: right;">
				</div>
				<div class="content__column">
					<p>
						Kalagra Farm is the agricultural company of the Group involved in the main production processes: 
					</p>
					<br>
					<br>
					<ul>
						<li>
							<span>
								clearing and renovation of land; 
							</span>
						</li>
						<li>
							<span>
								planting and development of Miscanthus and other bioenergy crops; 
							</span>
						</li>
						<li>
							<span>
								harvesting and logistics of the delivery of biomass;
							</span>
						</li>
						<li>
							<span>
								development and management of the Miscanthus nursery and sale of rhizomes; 
							</span>
						</li>
						<li>
							<span>
								production of biofuel in cubes and pellets from Miscanthus and other biomass for export and to the local market; 
							</span>
						</li>
						<li>
							<span>
								agronomy consultancy both to our own companies to external farmers
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="content__text">
				<p>
					Timo Land OOO and Timo Invest OOO are ringfenced companies intended to own or lease land to own companies and other companies in the Kaliningrad region and invest into the production of Miscanthus or other biofuel crops.
				</p>
			</div>
		</div>
	</div>
</section>
<section class="content content--bottom" id="block-5">
	<div class="wrapper content__accent" style="background-image: url(img/where-bg.jpg);">
		<div class="container">
			<h2 class="h2 h2--light">
				WHERE ARE WE NOW?
			</h2>
		</div>
	</div>
	<div class="wrapper">
		<div class="container">
			<div class="content__block">
				<div class="content__column">
					<ul>
						<li>
							<span>
								The Kalagra Group of companies has now been present in the Kaliningrad region for a little under three years and during that time we have: 
							</span>
						</li>
						<li>
							<span>
								Formed a number of corporate entities based in Kaliningrad to manage the different elements of the business 
							</span>
						</li>
						<li>
							<span>
								Have established a highly skilled management team working exclusively for the project. The business provides the opportunity to give full-time employment for an additional 150 staff from some of the most challenging rural environments of the Kaliningrad region
							</span>
						</li>
						<li>
							<span>
								Already invested in 400 Ha of agricultural land in the Chernyakhovsk region and have agreed the purchase of a further 1300 Ha. With an eventual goal to have a pool of 10 000 Ha of privately held agricultural land and a limitless opportunity for cooperation with other landowners
							</span>
						</li>
					</ul>
				</div>
				<div class="content__column">
					<ul>
						<li>
							<span>
								Have ready and waiting a supply of Miscanthus rhizomes for the spring of 2019 for the initial 20 Ha required to establish the nursery production
							</span>
						</li>
						<li>
							<span>
								Have own inward investment deployable to the project of 250 mln rub together with external investment of a further 750 mln rub
							</span>
						</li>
						<li>
							<span>
								Agreed a three-year contract to supply biofuel pellets to a local district heating operator in the Kaliningrad region as a replacement to coal
							</span>
						</li>
						<li>
							<span>
								Agreed contracts to supply biofuel pellets under a fixed price twenty-year indexed agreements to the United Kingdom electricity producers. Total export potential of this agreement is up to 8.4 billion RUB
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>