<section class="facts" id="block-2">
	<div class="wrapper facts__wrapper">
		<div class="container facts__container">
			<h2 class="facts__h2 h2 h2--light">
				Our objectives
			</h2>
			<div class="fact">
				<div class="fact__icon">
					<svg class="icon-svg">
						<use xlink:href="img/sprites/svg/symbols.svg#icon-1"></use>
					</svg>
				</div>
				<div class="fact__content">
					<p>
						To develop a new source of sustainable fuel for both domestic and export utilisation
					</p>
				</div>
			</div>
			<div class="fact">
				<div class="fact__icon">
					<svg class="icon-svg">
						<use xlink:href="img/sprites/svg/symbols.svg#icon-2"></use>
					</svg>
				</div>
				<div class="fact__content">
					<p>
						To provide permanent employment to more than 120 people in the rural areas of Kaliningrad
					</p>
				</div>
			</div>
			<div class="fact">
				<div class="fact__icon">
					<svg class="icon-svg">
						<use xlink:href="img/sprites/svg/symbols.svg#icon-3"></use>
					</svg>
				</div>
				<div class="fact__content">
					<p>
						To create this opportunity in the Kaliningrad Region taking advantage of the geographical proximity to Western Europe and the favourable climatic conditions for agriculture
					</p>
				</div>
			</div>
			<div class="fact">
				<div class="fact__icon">
					<svg class="icon-svg">
						<use xlink:href="img/sprites/svg/symbols.svg#icon-4"></use>
					</svg>
				</div>
				<div class="fact__content">
					<p>
						To utilise difficult and often unviable agricultural land and bring it into production in line with Russian Federal objectives
					</p>
				</div>
			</div>
		</div>
	</div>
</section>