<header class="header">
	<div class="wrapper">
		<div class="container header__container">
			<a href="#" class="logo logo--header header__logo">
				<img class="logo__img-top" src="img/logo-top.png" alt="Логотип">
				<img class="logo__img-bottom" src="img/logo-bottom.png" alt="Логотип">
			</a>
			<nav class="header__nav">
				<a href="#block-1" class="header__link">
					What we do
				</a>
				<a href="#block-2" class="header__link">
					Our objectives
				</a>
				<a href="#block-3" class="header__link">
					About miscanthus
				</a>
				<a href="#block-4" class="header__link">
					Kalagra group
				</a>
				<a href="#block-5" class="header__link">
					Where are we now?
				</a>
				<a href="#block-6" class="header__link">
					Contacts
				</a>
			</nav>
			<a href="" class="header__lang">
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#rus"></use>
				</svg>
				<span>Ru</span>
			</a>
			<div class="header__menu">
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#menu"></use>
				</svg>
			</div>
		</div>
	</div>
</header>