<section class="list">
	<div class="container list__container">
		<h2 class="h2 list__h2">
			What effect on land and environment
		</h2>
		<ul class="list__h2">
			<li>
				<span>Sterile crop that cannot self propagate</span>
			</li>
			<li>
				<span>Low mineral and nitrogen requirement so will grow on substandard land</span>
			</li> 
			<li>
				<span>Thrives in high water content soils and can survive flooding</span>
			</li> 
			<li>
				<span>No chemical inputs or fertilizer once established</span>
			</li>
			<li>
				<span>No known diseases, pests or predators</span>
			</li>
			<li>
				<span>Soil fixer & builder due to mulching of leaves and fine deep root structure</span>
			</li>
			<li>
				<span>Easy to remove if land required for alternative use</span>
			</li>
		</ul>
	</div>
</section>