<section class="what-is" id="block-3">
	<div class="container what-is__container">
		<div class="what-is__ill" style="background-image: url(img/what-is-image.jpg);">
			
		</div>
		<div class="what-is__content">
			<h2 class="h2 what-is__h2">
				What is Miscanthus?
			</h2>
			<ul>
				<li>
					<span>
						Sustainable perennial energy crop
					</span>
				</li>
				<li>
					<span>
						C4 Asiatic grass ‘elephant grass’
					</span>
				</li>
				<li>
					<span>
						Planted once, yields biomass annually
					</span>
				</li>
				<li>
					<span>
						Dries naturally
					</span>
				</li>
				<li>
					<span>
						Ecologically beneficial
					</span>
				</li>
				<li>
					<span>
						20 + year lifespan
					</span>
				</li>
			</ul>
		</div>
	</div>
</section>