.header {
	background-color: $light;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 3;
	box-shadow: 1px 2px 40px rgba(0, 0, 0, 0.12);
	@include r(1260) {
		position: static;
	}
	&--scrolled {
		.logo__img-top {
			max-height: 0px;
		}
		.logo {
			height: auto;
			padding-top: 0px;
			padding-bottom: 0px;
			display: flex;
			align-items: center;
			height: 100%;
		}
	}
	&__container {
		padding-left: 177px;
		display: flex;
		align-items: center;
		height: 67px;
		justify-content: space-between;
		@include r(1260) {
			padding-left: 15px;
			height: auto;
		}
	}
	&__logo {
		position: absolute;
		top: 0px;
		left: 0px;
		@include r(1260) {
			position: static;
		}
	}
	&__link {
		color: $dark;
		text-decoration: none;
		&--selected {
			color: $green;
		}
		&:hover {
			color: $green;
		}
	}
	&__nav {
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		top: 8px;
		@include r(1260) {
			display: none;
		}
	}
	&__lang {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		text-decoration: none;
		color: $dark;
		margin-left: 13px;
		position: relative;
		top: 8px;
		@include r(1260) {
			order: -1;
			margin-left: 0px;
			width: 54px;
		}
		&:hover {
			color: $green;
		}
		svg {
			width: 27px;
			height: auto;
			height: 15px;
			margin-right: 5px;
			flex-shrink: 0;
		}
	}
	&__menu {
		display: none;
		svg {
			display: block;
			height: 22px;
			width: 22px;
			fill: $dark;
		}
		@include r(1260) {
			display: block;
			width: 54px;
			display: flex;
			justify-content: center;
		}
	}
}